


.main-box {
   border: 2px solid white;
   box-shadow: -1px -1px 0px 2.5px white;
   margin: 10px;
   padding: 10px;

   .info {
    color: black;
    display: flex;
    justify-content: space-between;

    h3 {
        margin: 10px;
        font-weight: 100;
    }
   }

   .sub-box {
    border: 2px solid white;
    display: flex;
    justify-content: center;
    height: 30vh;

         h3 {
            font-size: 20px;
            font-weight: 100;
    }
   }
}
